.storybook-input {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.storybook-input--normal {
  background-color: white;
}
.storybook-input--error-state {
  border-color: #d32f2f; /* エラー時に枠線を赤くする */
    background-color: #f8d7da; /* エラー時に背景色を薄い赤にする */
}
.storybook-input-error {
  color: #d32f2f; /* エラーメッセージを赤くする */
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0;
}

.storybook-input--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-input--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-input--large {
  padding: 12px 24px;
  font-size: 16px;
}
