:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light; /* ダークモードを削除 */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	/* ライトモードのデフォルト値を直接設定 */
	--background-color: #f0f0f0;
	--text-color: #333;
	--header-background-color: #ffffff;
	--header-border-color: #eaeaea;
	--h2-color: #333;
	--h2-border-color: #000;
	--h3-color: #333;
	--button-background-color: #f0f0f0;
	--button-text-color: #007bff; /* ボタンの文字色を青に */
	--button-border-color: #ccc;
	--button-hover-background-color: #f0f8ff; /* ホバー時の背景色をさらに薄い青に (AliceBlue) */
	--button-hover-text-color: #000;
	--button-hover-border-color: #aaa;
	--link-color: #007bff;

	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

a {
	font-weight: 500;
	color: var(--link-color);
	text-decoration: inherit;
}
a:hover {
	color: var(--link-color);
}

button {
	border-radius: 8px;
	border: 1px solid var(--button-border-color);
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border-color: var(--button-border-color);
	cursor: pointer;
	transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
	border-color: var(--button-hover-border-color);
	background-color: var(--button-hover-background-color);
	color: var(--button-hover-text-color);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
